:root {
  --primary: #9c27b0;
  --dark-primary: #891190;
  --secondary: #ffce00;
  --dark-secondary: rgb(233, 187, 2);
  --white: #fff;
  --black: #000;
  --main-font: "Staatliches", cursive;
  --normal-font: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  /* margins and paddings to cero not setting */
  /* margin: 0;
  padding: 0; */
}

/* Globals */

body {
  background-color: var(--primary);
  font-size: 1.6rem;
  line-height: 1.5;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--secondary);
  font-family: var(--main-font);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

input {
  outline: none;
}

button,
input {
  overflow: auto;
}

input[type="number"]::placeholder {
  color: var(--white);
}

/* Utilities */

.container {
  max-width: 100rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.normal-text {
  font-family: var(--normal-font);
  font-size: 2rem;
}

.text-center {
  text-align: center;
}

@media (min-width: 768px) {
  .text-center {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* header styles */

.header {
  display: flex;
  justify-content: center;
}

.link--m3r {
  margin: 3rem 0;
}

/* nav styles */

.nav {
  background-color: #891190;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  /* gap: 2rem; Using flexbox*/
}

.nav__link {
  font-family: var(--main-font);
  color: var(--white);
  font-size: 3rem;
  margin-right: 2rem;
}

.nav__link:last-of-type {
  margin-right: 0;
}

.nav__link--active,
.nav__link:hover {
  color: var(--secondary);
}

/* footer styles */

.footer {
  background-color: var(--dark-primary);
  padding: 1rem 0;
  margin-top: 2rem;
}

.footer__text {
  text-align: center;
  font-family: var(--main-font);
  font-size: 2.2rem;
}

/* product styles */

.list-products {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .list-products {
    width: 100%;
  }
}

.product {
  padding: 1rem;
  background-color: var(--dark-primary);
  border-radius: 0.5rem;
}

.product__img {
  width: 100%;
}

.product__name-tag,
.product__price-tag {
  font-family: var(--main-font);
  margin: 1rem 0;
  line-height: 1.2;
  text-align: center;
}

.product__name-tag {
  font-size: 4rem;
}

.product__price-tag {
  font-size: 2.8rem;
  color: var(--secondary);
}

.graphic {
  min-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 3;
}

.graphic--tshirts {
  grid-row: 2 / 3;
  background-image: url("https://i.imgur.com/ca9GLeZ.jpg");
}

.graphic--node {
  background-image: url(https://i.imgur.com/oFwM2au.jpg);
  grid-row: 8 / 9;
}

@media (min-width: 768px) {
  .graphic--node {
    grid-row: 5 / 6;
    grid-column: 2 / 4;
  }
}

/* about styles */

.about {
  margin: 0 auto;
  width: 95%;
  display: grid;
}

@media (min-width: 768px) {
  .about {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
  }
}

.about__img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: top;
}

@media (min-width: 768px) {
  .about__img,
  .about__content {
    grid-row: 1 / 2;
  }

  .about__img {
    grid-column: 2 / 3;
    height: 100%;
    object-fit: cover;
  }

  .about__content {
    grid-column: 1 / 2;
  }
}

/* features styles */

.shop {
  width: 95%;
  margin: 0 auto;
}

.features {
  display: grid;
}

@media (min-width: 650px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 1200px) {
  .shop {
    max-width: 150rem;
  }

  .features {
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.feature * {
  margin: 0;
}

.feature__text {
  margin-top: 1.5rem;
  text-align: center;
}

/* product styles */

.t-shirt {
  width: 95%;
  margin: 0 auto;
  display: grid;
}

@media (min-width: 768px) {
  .t-shirt {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
  }
}

.t-shirt__image {
  width: 100%;
}

@media (min-width: 768px) {
  .t-shirt__image {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media (min-width: 768px) {
  .t-shirt__info {
    margin-top: 0;
  }
}

.t-shirt__form {
  display: grid;
  gap: 2rem;
}

@media (min-width: 500px) {
  .t-shirt__form {
    grid-template-columns: repeat(2, 1fr);
  }
}

.t-shirt__form-field {
  border: 1rem solid var(--dark-primary);
  border-radius: 0.5rem;
  background-color: var(--primary);
  padding: 1rem;
  color: var(--white);
  font-size: 2rem;
  font-family: var(--normal-font);
  appearance: none;
}

.t-shirt__submit {
  background-color: var(--secondary);
  border: none;
  font-size: 2rem;
  font-family: var(--main-font);
  padding: 2rem;
  transition: background-color 0.3s ease;
}

@media (min-width: 500px) {
  .t-shirt__submit {
    grid-column: 1 / 3;
  }
}

.t-shirt__submit:hover {
  cursor: pointer;
  background-color: var(--dark-secondary);
}
